.App {
  text-align: center;  
}

.BigTitle{
  color: white;
  background-color: rgba(0, 0, 0, 0.888);
  height: 75px;
  font-size: 60px;
}

.EditTitle{
  background-color: rgb(9, 41, 104);
  padding: 15px;
  width: 200px;
  border-radius: 10px;
  color:white;
  margin: 0 10px 20px 230px;
}

.EditBody{
  background-color: rgb(13, 20, 62);
  padding: 15px;
  width: 200px;
  border-radius: 10px;
  color:white;
  margin: 20px 10px 20px 230px;
}

.input{
  font-size: 20px;
  padding: 5px;    
}

.Form {

  background-color: rgb(70, 71, 62);
  margin: 20px 10px 0 500px;
  padding: 20px;
  width: 700px;
  font-size: 20px;
}

.Desc {
  width: 600px;
  height: 170px;
  font-size: 20px; 
  margin: 5px 0 5px 0;
}
.Btn {
  background-color: red;
  width: 120px;
  font-size: 17px;
  font-weight:600;
  padding:5px;
  border-radius: 10px;
  margin: 0 10px 0 70px;
}

.deleteBlog{
  background-color: rgb(122, 108, 108);
  width: 100px;
  font-size: 13px;
  font-weight:600;
  padding:5px;
  border-radius: 10px;
  margin: 10px 10px 0 800px;
}

.addBlog {
  background-color: rgb(32, 67, 36);
  width: 115px;
  font-size: 17px;
  font-weight:600;
  padding:5px;
  border-radius: 10px;
  color: white; 
}